<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div  class="w-full h-full p-10 bg-zinc-800">
              <a class="text-blue-400 underline" href="/">Go to Home</a>

        <h1 class="text-white text-xl p-2 mt-5 font-semibold">All Users</h1>
      <div  class=" flex flex-wrap gap-3" >
       <% allUsers.forEach(function(val){ %>
 <div class="bg-zinc-900 p-2 w-60 h-78 rounded-md">
          <div class="overflow-hidden  bg-zinc-600 mb-2 w-full h-40 rounded-md">
            <img class="bg-cover w-full h-full" src=<%= val.image %> alt="" />
          </div>
          <h2 class="text-white p-1 text-center text-lg font-semibold"> <%= val.name %></h2>
          <h2 class="text-white p-1 text-center text-lg font-semibold"> <%= val.email %> </h2>
        <div class=" w-full mt-3 px-2 flex justify-between">
            <a  class="text-white p-1  text-start text-sm" href="/update/<%= val._id%>">Update</a>
            <a  class="text-white p-1  text-start text-sm" href="/delete/<%= val._id%>">Delete</a>
        
            
        </div>
        </div>
     <%  })%>
  
    
    </div>
    </div>
  </body>
</html>
